section:not(#three) {
    height: 400px;
    margin: 10px 0;
  }
  #one {
    background-color: rgb(150, 150, 150);
  }
  #two {
    background-color: rgb(205, 205, 205);
  }
  #three {
    background-color: rgb(150, 150, 150);
    width: 400px;
    margin-bottom: 200px;
  }
  div {
    width: 90px;
    height: 90px;
    border: 3px solid black;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #two div {
    width: 400px;
  }
  #red {
    background-color: red;
  }
  #green {
    background-color: green;
  }
  #blue {
    background-color: blue;
  }
  #orange {
    background-color: orange;
  }
  #purple {
    background-color: purple;
  }
  #brown {
    background-color: brown;
  }
  p {
    margin: 0;
    background-color: #0C2340;
    border: 2px solid #AE9142;
    font-size: 30px;
    color: #C99700;
    text-align: center;
  }
  p:nth-of-type(even) {
    color: #00843D;
  }
  
  /* START BELOW THIS LINE */

  #one { 
    /*Creates a Flexbox container */     
    display: flex;

    /* Justifies items to end of the main axis in this case all the way to the right*/
    justify-content: flex-end;

    /*Flex-direction column displays in starting order on bottom of container. Bonus # 1. Flex-direction column-reverse displays a mirror image. */
    /*flex-direction: column; */
    flex-direction: column-reverse;

    /*centers column in container*/
    align-items: center; 
     
}

#two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;}

    /* Bonus #2. Using "order" to change the order in which the items occur on the page.*/
    #orange {
        order: 2;
        /* Bonus 3 Align-self: flex-end and flex-start move the purple and brown boxes to the upper and lower corners of the parent box*/
    }
    #purple {
        order: 3;
        align-self: flex-end;
    }

    #brown {
        order: 1;
        align-self: flex-start;  
    }


#three {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: repeat(2, 100px);
}
    

